body{
    margin: 0;
    font-family: sans-serif;
    /* text-align: center; */
    margin-left: 30%;
    /* margin-right: 25%; */
    margin-top: 100px;
}

.main{
    width: 50%;
}

.heading{
    color: azure;
    background-color: indigo;
    height: 10%;
    padding-top: 0.0125%;
    text-align: center;
}


.form-content{
    padding-top: 15px;
    align-content: left;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.fields{
    display: flex;
    flex-direction: column;
    align-content: left;
    padding-top: 1rem;
    padding-right: 10px;
    font-size: 1 rem;
}

.input{
    height: 6rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;

}

.main-divided{
    display: flex;
    flex-direction: row;
    /* padding-left: 30px; */

}

.categories{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-divided{
    width: 200px;
    height: 40px;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

.button{
    width: 100px;
    height: 40px;
    background-color: midnightblue;
    color: white;
}

.created-task{
    /* background-color:darksalmon; */
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    margin-top: 0.125rem;
    border-radius: 0.5rem;
}


.delete-button{
    height: 2rem;
    border-radius: 0.5rem;
    color: thistle;
    background-color: red;
    border-color: red;
}

.delete-button a{
    text-decoration: none;
    color: seashell;
}

.details{
    display: flex;
    flex-direction: row;
}

.categories-button{
    background-color: slateblue;
    color: whitesmoke;
    height: 2rem;
    width: 6rem;
    border: none;
    border-radius: 0.5rem;
}

.date{
    width: 75%;
}